include layout

block page-content
  .container
      .row.text-center
        .col-md-12
          br
          br
          h2  直播间创建
          h5#message
          br
      .row
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          .panel.panel-default
            .panel-heading
              strong#tip
            .panel-body
              .form-group.input-group.col-md-12
                  .row 
                      .col-md-6.col-md-offset-3
                          img#portrait(class='img-rounded img-thumbnail carousel-inner',src='images/portrait/room.jpg',onclick='setImg()')
                          div(style="display:none")
                            form#imgForm(action='/upload/logo', method='post', enctype='multipart/form-data')
                              input#fileChance(type='file', name='file',onchange='previewImage("fileChance","portrait")')
                              input#uploadImg(type='submit', value='提交', onclick='sendImg()')
              form#registerForm(role='form')
                br              
                .form-group.input-group
                  span.input-group-addon
                    i.fa.fa-circle-o-notch
                  input#room_name.form-control(type='text', placeholder='Desired room name')
                .form-group.input-group
                  span.input-group-addon
                    i.fa.fa-circle-o-notch
                  input#room_title.form-control(type='text', placeholder='room title')
                .form-group.input-group
                  span.input-group-addon 
                    i.fa.fa-barcode
                  textarea.form-control#room_message(type='text', placeholder='room message')
                div.row
                  button#create_button.btn.btn-primary.col-md-3.col-md-offset-2(type='button',onclick='create_room()') 创建房间
                  button#key_button.btn.btn-info.col-md-3.col-md-offset-2(type='button',onclick='getkey()') 原地址
  script(src='javascripts/moduleJs/createRoom.js')        

  