<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
    a{margin-left: 20px; text-decoration: none;}
    a:hover{text-decoration: underline;}
    </style>
    <script src="javascripts/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/outlogin">注销 </a>
    <button id="idBtn" class="btn btn-info col-sm-2 col-sm-offset-10">获得我的直播Id</a>
    </p>
  </body>
  <script>
    $('idBtn').click(function(){
      alert("正在查找id");
    })
  </script>
</html>