<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />  
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/messageTip.js"></script>
  <script src="javascripts/tools.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <img id='imgHead' src="" />
  <input id='preInput' type="file" onchange="previewImage('preInput','imgHead')" value="上传图片">
    <p><a href="/outlogin">注销 </a> 标题： <input type="text" id='liveTitle' width="100px" /> 简介： <input type="text" id='liveMsg'
      width="100px" />
    <button id="idBtn" class="btn btn-info col-sm-2 col-sm-offset-10">获得我的直播Id</button>
    <input type="text" id="liveURL" width="100px" /> 下载推流软件： <a href="download/ffmpeg.rar" download="ffmpeg.rar">下载</a>
  </p>
  <ul id='roomList'>
  </ul>
  
  <form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">创建房间</legend>
      </div>
    

    

    <div class="control-group">
          <label class="control-label">File Button</label>

          <!-- File Upload -->
          <div class="controls">
            <input class="input-file" id="fileInput" type="file">
          </div>
        </div><div class="control-group">
          <label class="control-label">Button</label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-info">选择头像</button>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">房间名</label>
          <div class="controls">
            <input type="text" placeholder="不超过11个字符" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Textarea -->
          <label class="control-label">直播简介</label>
          <div class="controls">
            <div class="textarea">
                  <textarea type="" class=""> </textarea>
            </div>
          </div>
        </div>

    </fieldset>
  </form>

</body>
<script>
  $.ajax({
    url:'/users/getLiveRoomList',
    tyep:'get',
    data:{},
    success:function(data){
      if(data.success == 0)
        alert(msgTip[data.message]);
      else{
        var roomList = "";
        data.message.forEach(function(room){
          var roomDom = '<li> 主播：'+room.name;
          if(room.state == 1){
            roomDom += ' 正在直播 <a  target="_Blank" href="'+window.location.protocol+"//"+window.location.host+"/show?room=" +room._id +'">观看</a></li>';
          }
          else{
            roomDom += '未开始直播</li>';
          }
          roomList += roomDom;
        });
        $('#roomList').append(roomList);
        console.log(data.message);
      }
    },
    error:function(data){

    }
  })
  $('#idBtn').click(function () {
    $.ajax({
      url: '/users/getId',
      type: 'post',
      data: {
        liveTitle: $('#liveTitle').val(),
        liveMsg: $('#liveMsg').val()
      },
      success: function (data) {
        console.log(data);
        if (data.success == 1) {
          $("#liveURL").val(data.message.sendUrl);
        }
        else {
          console.log(msgTip[data.message]);
        }
      },
      error: function (data, status) {
        console.log("1");
      }
    });
  })
</script>

</html>