<!DOCTYPE html>
<html>

<head>
	<title>JSMpeg Stream Client</title>
	<style type="text/css">
		html,
		body {
			background-color: #111;
			text-align: center;
		}
	</style>
	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/messageTip.js"></script>
</head>

<body>
	<canvas id="video-canvas" width="1000px" height="500px"></canvas>
	<button id="startBtn">点击</button>
	<button id='pauseBtn'>暂停</button>
	<script type="text/javascript" src="/javascripts/jsmpeg.min.js"></script>
	<script type="text/javascript">
		var canvas = document.getElementById('video-canvas');
		var url = "<%= wsUrl %>";
		var player = new JSMpeg.Player(url, { canvas: canvas });
		$('#pauseBtn').click(function () {
			player.stop();
		});
		$('#startBtn').click(function(){
			player.play();
		})
	</script>
</body>

</html>