<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        *{
             font-family: "Consolas";
        }
    </style>    
</head>
<body style="text-align: center;height: 100%;background-color:#63666f">
    <div style="margin: auto auto">
    <h1> 关于我 </h1>
    <p> 我喜欢阅读，文学、技术都是我的对象。</p>
    <p> 我喜欢了解新资讯，喜欢看些有趣的技术新闻。</p>
    <p> 我喜欢研究算法，平时也会闲着在leetcode上刷题目。</p>
    <p> 我喜欢探究细节，有时一个简单的 New Date().getTime() 都可以让我琢磨一番。 </p>
    <p> 我喜欢接触新事物，.Net,JavaWeb,NodeJs......。主流的服务器语言也学了大概。</p>
    <p> 我想要研究算法，因为我知道只有算法才是程序保持生命的关键。</p>
    <p> 我想要尝试新事物，因为相信新的事物里面一定会有新的机会。</p>
    <p> 我想要掌握细节，因为细节的地方往往包含了最简洁的定义。</p>
    <p> 我想要阅读，因为学习是我最适合的进步途径。</p>
    <h1> 关于我 </h1>
    </div>
</body>
</html>